<div class="bg-white p-5 rounded-lg">
  <div class="flex items-center justify-between mb-5">
    <p>Cart ({{cartList.length}})</p>
    <button [hidden]="cartList.length==0" (click)="RemoveAll()" class="underline p-0">Remove All</button>
  </div>

  <p [hidden]="cartList.length>0">No Products</p>

  <div [hidden]="cartList.length==0" class="grid gap-5">
    <div class="flex items-center justify-between gap-5" *ngFor="let item of cartList" [hidden]="item.quantity==0">
      <img class="w-14 aspect-square rounded-lg" src="../../assets/cart/image-{{item.slug}}.jpg"
        alt="Image of {{item.name}}">
      <div class="font-bold flex-grow min-w-32">
        <p>{{item.name}}</p>
        <p>$ {{item.price}}</p>
      </div>
      <div class="bg-gray flex-grow flex justify-between">
        <button class="flex-grow px-2" (click)="ReduceProduct(item)"
          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-</button>
        <input type="number" [value]="item.quantity" min="0" max="10" class="no-spinner bg-transparent text-center">
        <button class="flex-grow px-2" (click)="AddProduct(item)"
          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">+</button>
      </div>
    </div>
  </div>

  <div class="flex justify-between uppercase my-5">
    <p class="opacity-50">Total</p>
    <p class="opacity-100 font-bold">$ {{cartTotal[0]}}</p>
  </div>

  <a (click)="CloseShopContainer()" routerLink="/checkout"><button
      class="button-primary w-full uppercase">Checkout</button></a>
</div>